.carousel__navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    left: 20px;

    &__btn {
        padding: 0;
        border: none;
        background: transparent;

        &__arrow {
            color: var(--clr-white);
            height: 55px;
            width: 55px;
            
            &--left {
                cursor: pointer;
            }

            &--right {
                margin-left: 70px;
                cursor: pointer;
            }
        }
    }

    
}
