.nav__center {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;

    &__logo {
      height: 25px;
    }

    &__icons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;

      &__toggle {
        font-size: 0.8rem;
        color: var(--clr-ebony);
        background: transparent;
        border-color: transparent;
        transition: var(--transitionLinear);
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;;
        
      }

      &__toggle:hover {
        color: var(--clr-black-pearl);
      }

    }
  }

}
