
:root {
    --clr-black: #222;
    --clr-white: rgb(255, 255, 255);

    --clrBlack1: hsl(207, 73%, 3%);
    --clrBlack2: hsl(210, 61%, 3%);
    --clrBlack3: hsl(210, 51%, 3%);

    --clr-aHover: rgb(228, 54, 24);
    --transitionLinear: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-white);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
